body {
    background-color: #EFEFEF;
    font-family: monospace;
    margin: 0;
}

table {
    border-spacing: 0;
}

input[type=button] {
    width: 15rem;
    background-color: #72C3DC;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #2B8EAD;
}

h1 {
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;;
    font-family: sans-serif;
    text-align: center;
}

.shuffleAndSortBody {
    display: flex;
    justify-content: flex-start;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #BFBFBF;
}

#actionButtons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 3rem;
}

#dataTableView td {
    height: 180px;
    width: 350px;
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}

#footer {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

/* Responsive design for table and buttons */

@media (max-width: 650px) {
    body {
        background-color: #FFFFFF;
    }

    h1 {
        background-color: #333333;
        color: #FFFFFF;
    }

    input[type=button] {
        width: 10rem;
    }

    .shuffleAndSortBody {
        flex-direction: column-reverse;
    }

    #actionButtons {
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
        column-gap: 10px;
    }

    #dataTableView td {
        width: 600px;
        display: block;
        text-align: center;
        height: 40px;
        font-size: 20px;
        margin: 1vh 1vh 0 2vh;
        text-align: center;
        line-height: 40px;
        color: #000000;
    }

    /* Set gradient to each cell as per the background color already applied to the cells with the mixture of #EFEFEF */

    td[data-bg-color = '#6F98A8'] {
        background: linear-gradient(to right, #6F98A8 2%, #EFEFEF 0%);
    }

    td[data-bg-color = '#2B8EAD'] {
        background: linear-gradient(to right, #2B8EAD 2%, #EFEFEF 0%);
    }

    td[data-bg-color = '#2F454E'] {
        background: linear-gradient(to right, #2F454E 2%, #EFEFEF 0%);
    }

    td[data-bg-color = '#BFBFBF'] {
        background: linear-gradient(to right, #BFBFBF 2%, #EFEFEF 0%);
    }
}

@media (max-width: 600px) {
    #dataTableView td {
        width: 550px;
    }
}

@media (max-width: 550px) {
    #dataTableView td {
        width: 450px;
    }
}

@media (max-width: 450px) {
    #dataTableView td {
        width: 350px;
    }
}

@media (max-width: 360px) {
    #dataTableView td {
        width: 300px;
    }
}

@media (max-width: 300px) {
    #dataTableView td {
        width: 250px;
        height: 30px;
        line-height: 30px;
    }
}

@media (max-width: 260px) {
    #dataTableView td {
        width: 180px;
    }
    input[type=button] {
        height: 10px;
        line-height: 0;
    }
    #actionButtons {
        flex-direction: column;
        margin: 1rem;
        row-gap: 5px;
    }
}

@media (max-width: 180px) {
    #dataTableView td {
        width: 130px;
    }
    input[type=button] {
        width: 7rem;
    }
}